<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="shortcut icon" href="#" />
    <meta charset="UTF-8">
    <title>首页 选择</title>

</head>

<body style="background: url(/static/img/leaf.jpg/) ; background-size:100%,100% ; background-attachment: fixed">
<!--以下为选择的内容-->
<h3>一、MRP计算</h3>
<a href="/index/mps/"><button type="submit">开 始 计 算</button></a>
<br/>
<br/>
<h3>二、资产负债表计算</h3>
<a href="/index/balance/"><button type="submit">开 始 计 算</button></a>

</body>
</html>